body{ 
	font-family:comic sans ms;
	line-height: 1.1;
	text-shadow: 1px 1px 5px rgb(0, 0, 0);
	padding:0px;
	margin:auto;
}
#gudro{
	background:rgb(25, 42, 95);
	color:rgb(68, 180, 224);
}
#pyro{
	background: rgb(155, 1, 1);
	color:rgb(233, 15, 15);
}
.menu{
	width:10%;
	height:100px;
	margin:auto;
}
.button{
	width:90px;
	height:auto;
	color:white;
	margin:15px;
	padding:10px;
	float:left;
	cursor:pointer;
	text-align:center;
	border:3px solid white;
	border-radius:15px;
	transition:all 1.4s;
}
.button:hover{
	background:white;
	color:black;
}
.box{
    width:80%;
    height:auto;
    margin:auto;
	border:2px solid white;
	border-radius:15px;
	padding:10px;
	text-align:center;
}
.box.gudro{
	background: rgb(6, 33, 107);
}
.box.pyro{
	background:rgb(138, 7, 7);
}
.box.k{
    width:40%;
    height:auto;
    margin:auto;
	border:2px solid white;
	border-radius:15px;
	background:rgba(172, 58, 58, 0);
}
.box img{
	width:100%;
	height:auto;
}
.inf{
	width:30%;
	height:auto;
	margin:10px;
	padding:10px;
	float:left;
	margin-left:10%;
	border-radius:15px;
}
.inf.gudro{
	border:2px solid rgb(74, 136, 228);
}
.inf.pyro{
	border:2px solid rgb(170, 51, 51);
}
.box.i{
	width:40%;
	height:180px;
}
#igudro{
	background: rgb(6, 33, 107);
}
#ipyro{
	background:rgb(138, 7, 7);
}